body{
  font-family: 'Roboto Slab', serif;
  color: #00204a;
  line-height: 1.6;

}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

h1, h2, h4{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  color: #005792;

  line-height: 1.5;
}

.company{
  background: #00bbf0;
  padding: 5% 10% 1px;
  text-align: center;
}



#profile{
  background: #00bbf0;
  padding: 5% 15%;
}



/* Navigation Bar */

.navbar{
  padding: 5% 10% 0;
}



.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}



.Header{
  background: #00bbf0;
  padding: 3% 7%;
}

/* Wave Section */

section{
  position: relative;
  width: 100%;
  height: 20vh;
  background: #00bbf0;
  overflow: hidden;
}

section .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

section .wave.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2{
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3{
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

section .wave.wave4{
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}



#aboutUs{
  background: #fff;
  padding: 2% 15% 5%;
}

#client{
  padding: 5% 15%;
  background: #d9faff;
  text-align: center;
}

.logo-section{
  padding: 5% 25%;
}

.col-md-4{
  padding: 3%;
}

#career{
  padding: 5% 15%;
}

#hr-services{
  background: #d9faff;
  padding: 5% 15%;
}

#footer{
  background: #00bbf0;
  padding: 3% 7%;
  text-align: center;
}

@media (max-width: 1199px){

  h1{
    font-size: 6rem;
    padding: 40% 0;
  }

  h2{
    font-size: 5rem;
  }

  h4{
    font-size: 4rem;
  }

  p{
    font-size: 2rem;
  }



  .navbar{
    padding: 0;
  }

  .navbar-toggler-icon{
    width: 5rem;
    height: 5rem;
  }

  img.logo{
    width: 140%;
  }

  .nav-link{
    font-size: 4rem;
  }



  .Header{
    padding: 0;
  }

  .company{
    padding: 5% 1%;
  }

  #profile{
    padding: 4% 4%;
    text-align: justify;
  }

  #aboutUs{
    padding: 4% 4%;
    text-align: justify;
  }

  #client{
    padding: 4% 4%;
    text-align: center;
  }

  #career{
    padding: 4% 4%;
    text-align: justify;
  }

  #hr-services{
    padding: 4% 4%;
    text-align: justify;
  }

  #footer{
    padding: 4% 4%;
    text-align: justify;
  }


}
